#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 40px;
    background-color: rgb(161, 161, 161);
    height: 300px;
    width: 200px;
}

.input {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: 50px;
    font-size: 24px;
    justify-content: end;
    

}

button {
    width: 50px;
    height: 50px;
    background-color: purple;
    color: white;

}

.signs {
    display: flex;
    flex-direction: column;
    
}

.lower {
    display: flex;
}

.backspace {
    width: 100px;
}